.roadmap-itm {
  .icon {
    box-shadow: 0 4px 8px rgb(228, 228, 228);
    svg {
      margin: auto;
    }
    &::after {
      content: '';
      width: 3px;
      position: absolute;
      top: 100%;
      right: 50%;
      margin-top: 15px;
    }
  }
  .r-icon {
    &:before {
      content: '';
      height: 3px;
      position: absolute;
      top: 50%;
      right: 100%;
    }
  }
  .l-icon {
    &:before {
      content: '';
      height: 3px;
      position: absolute;
      top: 50%;
      left: 100%;
    }
  }
}
